ICON_0 ICON "Dxbx.ico"
GUIGridSelBg RCDATA "selbg.jpg"
GUIGridSelBgLeft RCDATA "selbgleft.jpg"
GUIGridSelBgRight RCDATA "selbgright.jpg"
GUIHeadBgImg RCDATA "headbgimg.jpg"
GUIHeadSepImg RCDATA "headsepimg.jpg"
GUIHeader RCDATA "header.jpg"
GUIHeaderBg RCDATA "headerbg.jpg"
GUIFooterBg RCDATA "footerbg.jpg"
GUIGameIconFrame RCDATA "gameiconframe.jpg"
GUIBackgroundInfoPane RCDATA "infobg.jpg"
ButtonLaunchHoover RCDATA "Button-Launch-(Hoover).jpg"
ButtonLaunchNormal RCDATA "Button-Launch-(Normal).jpg"
ButtonLaunchPressed RCDATA "Button-Launch-(Pressed).jpg"
About RCDATA "Dxbx About.jpg"
GUIHeaderLeft RCDATA "Dxbx GUI Header left.jpg"
GUIHeaderCenter RCDATA "Dxbx GUI Header center.jpg"
GUIHeaderRight RCDATA "Dxbx GUI Header right.jpg"
GUIBackgroundGrating RCDATA "grid.jpg"
GUIIconNotAvailable RCDATA "Dxbx GUI IconNotAvailable.jpg"
ConfigController RCDATA "Dxbx Config Controller.jpg"

